@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap&subset=cyrillic-ext");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffff;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 25px;
  max-width: 546px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  padding: 18px 20px 61px 20px;
  background-color: transparent;
  border: 1px solid #7669F9;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.input::-webkit-input-placeholder {
  color: #828282;
}

.input::-moz-placeholder {
  color: #828282;
}

.input:-ms-input-placeholder {
  color: #828282;
}

.input::-ms-input-placeholder {
  color: #828282;
}

.input::placeholder {
  color: #828282;
}

.input-end {
  border-radius: 25px;
  max-width: 474px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  padding: 14px 36px;
  background-color: transparent;
  border: 1px solid #7669F9;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.input-end::-webkit-input-placeholder {
  color: #828282;
}

.input-end::-moz-placeholder {
  color: #828282;
}

.input-end:-ms-input-placeholder {
  color: #828282;
}

.input-end::-ms-input-placeholder {
  color: #828282;
}

.input-end::placeholder {
  color: #828282;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: url("../img/Check.svg") center no-repeat;
}

.checkbox__input:checked + .checkbox__text-check:before {
  background: url("../img/Check.svg") center no-repeat;
}

.checkbox__input-radio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input-radio:checked + .checkbox__radio:before {
  background: url("../img/radtest.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #ffffff;
  letter-spacing: -0.3px;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  right: 117px;
  top: 113px;
  width: 34px;
  height: 34px;
  border: 1px solid #7669F9;
}

.checkbox__text-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #ffffff;
  letter-spacing: -0.3px;
  cursor: pointer;
  margin: 0px 0px 0px 77px;
}

.checkbox__text-check:before {
  content: "";
  position: absolute;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  left: 0;
  top: 20px;
  width: 34px;
  height: 34px;
  border: 1px solid #7669F9;
}

.checkbox__radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__radio:before {
  content: "";
  position: absolute;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  border: 1px solid #7669F9;
  border-radius: 50%;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  text-align: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 50px;
  width: 100%;
  height: 100%;
  min-height: 810px;
  max-width: 800px;
  background: #181818;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/close.svg") 0 0 no-repeat;
}

.popup__social {
  padding: 0px 0px 95px 0px;
}

.popup__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popup__social-item {
  padding: 0px 0px 95px 0px;
}

.popup__social-btn {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  padding: 13px 62px 13px 34px;
}

.popup__social-btn::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/Arrownext.svg");
  background-repeat: no-repeat;
  right: 27px;
  top: 13px;
}

.popup__social-btnright {
  text-align: right;
}

.title-test {
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  max-width: 514px;
  display: inline-block;
}

.popup__audit-title {
  margin: 0px 0px 157px 0px;
}

.popup__audit-btnright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 174px;
}

.popup__audit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 0px 128px;
}

.checkbox__radio {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  padding: 0px 0px 57px 86px;
}

.popup__spec-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup__spec-form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0px 40px 0px;
}

.popup__spec-btnright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.text-pop {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  padding: 20px 0px 20px 86px;
}

.popup__work-title {
  margin: 0px 0px 103px 0px;
}

.popup__work-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 0px 128px;
}

.popup__product-title {
  margin: 0px 0px 20px 0px;
}

.popup__product-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup__product-form .text-pop {
  padding: 30px 0px 30px 86px;
}

.popup__product-form .checkbox__text-check:before {
  top: 30px;
}

.popup__end-title {
  padding: 63px 0px 44px 0px;
}

.popup__end-subtitle {
  line-height: 32px;
  font-size: 24px;
  color: #BDBDBD;
  padding: 0px 0px 15px 0px;
}

.popup__end-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__end-form input {
  margin: 20px 0px 20px 0px;
}

.popup__end-btn {
  padding: 13px 37px;
  margin: 48px 0px 0px 0px;
}

.header {
  background-color: #121E2E;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 17px 0px 15px 0px;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  background-color: #121E2E;
}

.footer__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__form {
  padding: 0px 0px 44px 0px;
}

.footer__form-input {
  mix-blend-mode: normal;
  background: transparent;
  -webkit-box-shadow: -4px -2px 16px #253D5C, 4px 2px 16px #000000;
          box-shadow: -4px -2px 16px #253D5C, 4px 2px 16px #000000;
  border-radius: 50px;
  width: 317px;
  height: 50px;
  padding: 0 20px;
  color: #fff;
}

.footer__title {
  padding: 70px 0px 20px 0px;
}

.footer__text {
  padding: 0px 0px 21px 0px;
}

.invite {
  position: relative;
  padding: 0px 0px 50px 0px;
}

.invite__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.invite__wrapper img {
  width: 100vw;
  height: 100%;
}

.invite__container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.invite__inner {
  padding: 147px 0px 0px 0px;
}

.invite__pretitle-mob {
  display: none;
}

.invite__title {
  display: none;
}

.invite__title-mob {
  display: none;
}

.invite__subtitle {
  display: none;
}

.invite__email {
  margin: 0px 0px 52px 0px;
}

.invite__btn {
  padding: 13px 55px;
}

._text-form {
  background-color: transparent;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border: 1px solid #7669F9;
  border-radius: 50px;
  padding: 14px 30px 15px 36px;
  width: 546px;
}

._text-form::-webkit-input-placeholder {
  color: #828282;
}

._text-form::-moz-placeholder {
  color: #828282;
}

._text-form:-ms-input-placeholder {
  color: #828282;
}

._text-form::-ms-input-placeholder {
  color: #828282;
}

._text-form::placeholder {
  color: #828282;
}

.button {
  display: inline-block;
  color: #fff;
  background: -o-linear-gradient(2.62deg, #3F21FC 0%, #CE17D3 99.61%);
  background: linear-gradient(87.38deg, #3F21FC 0%, #CE17D3 99.61%);
  -webkit-box-shadow: -2px -2px 10px rgba(128, 128, 128, 0.3), -2px -2px 9px rgba(128, 128, 128, 0.22), 2px 2px 9px rgba(0, 0, 0, 0.22), inset 10px -6px 10px 2px rgba(255, 255, 255, 0.3);
          box-shadow: -2px -2px 10px rgba(128, 128, 128, 0.3), -2px -2px 9px rgba(128, 128, 128, 0.22), 2px 2px 9px rgba(0, 0, 0, 0.22), inset 10px -6px 10px 2px rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  font-weight: 500;
}

.aplication {
  position: relative;
  background-color: #181818;
  top: 0;
}

.aplication__container {
  text-align: center;
}

.aplication__pretitle {
  padding: 180px 0px 140px 0px;
  font-size: 24px;
  line-height: 32px;
  color: #BDBDBD;
}

.aplication__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aplication__item {
  max-width: 320px;
  padding: 0px 0px 116px 0px;
}

.aplication__img img {
  -webkit-box-shadow: -2px -2px 10px rgba(128, 128, 128, 0.25), -2px -2px 9px rgba(128, 128, 128, 0.25);
          box-shadow: -2px -2px 10px rgba(128, 128, 128, 0.25), -2px -2px 9px rgba(128, 128, 128, 0.25);
}

.aplication__text {
  font-size: 20px;
  line-height: 32px;
  color: #BDBDBD;
}

.aplication__title {
  padding: 0px 0px 106px 0px;
}

.aplication__btn {
  padding: 26px 96px;
  font-size: 36px;
  line-height: 42px;
  margin: 0px 0px 60px 0px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
}

.info {
  padding: 67px 0px 0px 0px;
  background-color: #181818;
  background-image: url(../img/bg-aplication.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.info__title {
  margin-bottom: 78px;
}

.info__slider-slide {
  text-align: center;
  position: relative;
  padding: 0px 0px 108px 0px;
}

.info__slider-slide img {
  border-radius: 20px;
  background-color: transparent;
}

.swiper-button-next {
  width: 90px;
  height: 90px;
  background-image: url("../img/sliderarrow-right.svg");
  position: absolute;
  border-radius: 15px;
  top: 50%;
  right: 100px;
  -webkit-transform: 0, -50%;
      -ms-transform: 0, -50%;
          transform: 0, -50%;
}

.swiper-button-prev {
  width: 90px;
  height: 90px;
  background-image: url("../img/sliderarrow-left.svg");
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 100px;
  -webkit-transform: 0, -50%;
      -ms-transform: 0, -50%;
          transform: 0, -50%;
  margin-left: 20px;
}

.request {
  background-color: #181818;
  background-image: url("../img/bg-aplication2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.request__container {
  text-align: center;
}

.request__tittle {
  margin: 0px 0px 40px 0px;
}

.request__text {
  font-size: 24px;
  line-height: 32px;
  color: #BDBDBD;
  margin: 0px 0px 45px 0px;
}

.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__input {
  margin: 0px 0px 15px 0px;
}

.request__btn {
  margin: 15px 0px 91px 0px;
  padding: 13px 30px;
}

.case {
  position: relative;
  background-color: #181818;
  padding: 57px 0px 0px 0px;
}

.case__container {
  padding: 0px 0px 70px 0px;
}

.case__slide-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 33px 0px;
}

.case__slide-top img {
  border-radius: 10px;
  margin: 0px 56px 0px 0px;
}

.case__slide-bottom {
  background: #242525;
  border-radius: 15px;
  padding: 38px 37px 29px 37px;
}

.slide-top__item {
  font-size: 20px;
  line-height: 32px;
  max-width: 757px;
}

.slide-top__subtitle {
  margin: 0px 0px 21px 0px;
}

.slide-top__text {
  color: #BDBDBD;
}

.slide-bottom__title {
  margin: 0px 0px 28px 0px;
}

.slide-bottom__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 45px;
  color: #BDBDBD;
  padding: 0px 0px 24px 0px;
  border-bottom: 1px solid #828282;
}

.slide-bottom__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 45px;
  padding: 23px 0px 0px 0px;
}

.slide-bottom__items-nums {
  text-align: right;
}

.step {
  padding: 76px 0px 95px 0px;
  background-color: #181818;
}

.step__title {
  text-align: center;
  padding: 0px 0px 68px 0px;
}

.step__items {
  max-width: 1343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
}

.step__item {
  min-width: 266px;
}

.step__item:nth-child(even) {
  margin: 346px 0px 0px 0px;
}

.step__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7669F9;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  border-radius: 50px;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #7669F9;
  width: 196px;
  height: 196px;
  margin: 0px 0px 38px 0px;
}

.step__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.step__item-text {
  font-size: 16px;
  line-height: 21px;
  color: #828282;
}

.lines-left {
  position: relative;
}

.lines-left::before {
  position: absolute;
  content: "";
  background-image: url("..//img/line-left.svg");
  background-repeat: no-repeat;
  width: 26%;
  height: 100%;
  left: 196px;
  top: 94px;
}

.air-plane {
  position: relative;
}

.air-plane::before {
  content: "";
  background-image: url("../img/airplane.svg");
  background-repeat: no-repeat;
  right: -48px;
  top: -12px;
  position: absolute;
  width: 50%;
  height: 50%;
}

.lines-right {
  position: relative;
}

.lines-right::after {
  content: "";
  position: absolute;
  background-image: url("../img/line-right.svg");
  background-repeat: no-repeat;
  width: 32%;
  height: 100%;
  right: 264px;
  top: 94px;
}

.lines {
  position: relative;
}

.lines::after {
  content: "";
  position: absolute;
  background-image: url("../img/line-right.svg");
  background-repeat: no-repeat;
  width: 32%;
  height: 100%;
  right: 264px;
  top: 94px;
}

.lines::before {
  position: absolute;
  content: "";
  background-image: url("..//img/line-left.svg");
  background-repeat: no-repeat;
  width: 26%;
  height: 100%;
  left: 196px;
  top: 94px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .invite__title {
    display: block;
    font-weight: 900;
    font-size: calc(24px + 22 * ((100vw - 320px) / 1600));
    line-height: 173.91304%;
    text-transform: uppercase;
    padding: 0px 0px 15px 0px;
  }

  .invite__subtitle {
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #BDBDBD;
    padding: 0px 0px 20px 0px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .invite__title {
    padding: 0px 0px 20px 0px;
  }

  .invite__subtitle {
    padding: 0px 0px 32px 0px;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1152px) {
  .invite__title {
    padding: 0px 0px 27px 0px;
  }

  .invite__subtitle {
    padding: 0px 0px 52px 0px;
  }
}

@media (max-width: 1400px) {
  .invite__inner {
    padding: 49px 0px 0px 0px;
  }
}

@media (max-width: 1152px) {
  ._container {
    max-width: 970px;
  }

  .invite__email {
    margin: 0px 0px 32px 0px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .invite__email {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__logo {
    padding: 0px 0px 8px 0px;
  }

  .invite__inner {
    padding: 46px 0px 0px 0px;
  }

  .invite__pretitle-mob {
    display: block;
    font-size: 20px;
    line-height: 160%;
    padding: 0px 0px 35px 0px;
  }

  .invite__title-mob {
    display: block;
    font-weight: 900;
    line-height: 166.66667%;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 343px;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
  }

  .invite__email {
    display: none;
  }

  .invite__btn {
    display: none;
  }
}

@media (max-width: 400px) {
  .invite__title-mob {
    font-size: 21px;
  }
}